<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Parking</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>
<body class="font-inter bg-gray-200 flex flex-col">
    <nav class="bg-yellow-300 p-4 ">
        <div class=" mx-auto flex justify-between items-center">
            <h1 class="text-white text-2xl font-bold rounded-md px-2 py-1">Vehicle Parking</h1>
            <div class="space-x-4">
                <a href="/login" class="bg-red-600 font-bold text-white px-4 py-2 hover:bg-red-800 rounded-md ">Login</a>
                <a href="/register" class="bg-red-600 font-bold text-white px-4 py-2 rounded-md ">Register</a>
            </div>
        </div>
    </nav>

    <main class="flex-grow container mx-auto my-20 p-6 flex items-center justify-center">
        <section class="bg-white p-8 rounded-lg text-center max-w-2xl w-full">
            <h2 class="text-4xl font-extrabold text-gray-800 mb-4">Vehicle Parking System</h2>
            <p class="text-lg text-gray-600 mb-6">Park you vehicles anywhere by using our application.<br>Book a spot for your vehicle through ONLINE.</p>
            <div class="flex flex-row  justify-center gap-5 ">
                <a href="/login" class="bg-red-600 text-white px-8 py-3 rounded-md text-lg font-semibold hover:text-gray-600 ">Get Started - Login</a>
                <a href="/register" class="bg-gray-400 text-white px-8 py-3 rounded-md text-lg font-semibold hover:text-gray-600 ">New User - Register</a>
            </div>
        </section>
    </main>


</body>
</html>
