<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="font-inter bg-gray-200 flex flex-col">
    <nav class="bg-yellow-300 p-4 ">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-white text-2xl font-bold  px-2 py-1">{{ lot.name }}</h1>
            <a href="/admin" class="bg-red-600 font-bold text-white px-4 py-2 rounded hover:text-gray-600">Back to admin page</a>
        </div>
    </nav>
    <section class="bg-white m-20 p-6 rounded-lg  mb-8">
    <h1 class="text-2xl font-bold text-gray-800 mb-4 ">Number of spots:</h1>
    {% if spots %}
        
        <div class="flex flex-wrap gap-4">
            
            {% for spot in spots %}
            {% if spot.status=='A' %}
            <div class=" border-double rounded-lg text-white bg-green-600 w-20 h-10 text-center flex items-center justify-center ">{{spot.spot_number}}</div>
            {% else %}
            <div class=" border-double rounded-lg text-white bg-gray-600 w-20 h-10 text-center flex items-center justify-center ">{{spot.spot_number}}</div>
            {% endif %}
            {% endfor %}
        </div>
        
    {% endif %}
</section>
</body>
</html>